.new {
  font-weight: bold;
  background-color: #FFC400;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.335);
}

.delete {
  font-weight: bold;
  background-color: black;
  color: #FFC400;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.335);
}

.post {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.335);
  border-radius: 10px;
}

.post .profil {
  font-weight: bold;
  color: #FFC400;
  text-decoration: none;
}

.post .profil p {
  font-size: 20px;
}

.post .profil p i {
  border-radius: 50%;
  border: 1px solid black;
  padding: 2%;
}

.post h2 {
  color: #FFC400;
}

.post span {
  color: red;
  font-weight: bold;
}

.counter {
  color: #FFC400;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.cart {
  border: 1px solid black;
  width: 95%;
  border-radius: 10px;
  font-weight: 600;
  padding: 1%;
}

.cart label {
  width: 89%;
}

.cart label input {
  border: none;
  width: 65%;
  outline: none;
  font-weight: 600;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.validate {
  background: black;
  color: #FFC400;
}

#logo {
  width: 20%;
}

@media (max-width: 752px) {
  #logo {
    width: 40%;
  }
  .nav {
    position: absolute;
    top: 14%;
    right: 4%;
  }
  .cart {
    width: 90%;
    padding: 1%;
  }
  .cart label {
    width: 70%;
  }
  .cart label input {
    width: 20%;
  }
  .cart button {
    width: 30%;
  }
}
