.welcome {
  width: 100%;
  height: calc(100vh - 78.05px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/welcome.jpg);
  background-size: cover;
}

.welcome .contenu {
  width: 65%;
  padding-top: 30%;
}

.welcome .contenu h2 {
  font-size: 50px;
  font-weight: 900;
  color: #FFC400;
}

.welcome .contenu h2 span {
  color: black;
}

.welcome .contenu p {
  font-size: 20px;
}

.welcome .contenu .ALL {
  background-color: #FFC400;
  border-radius: 20px;
  font-weight: bold;
  font-size: 20px;
  padding: 1% 4%;
  box-shadow: 0 1px 4px 0 #FFC400;
}

#logo {
  width: 20%;
}

@media (max-width: 752px) {
  #logo {
    width: 50%;
  }
  .nav {
    position: absolute;
    top: 14%;
    right: 4%;
  }
  .welcome {
    height: calc(100vh - 54.05px);
  }
  .welcome .contenu {
    width: 90%;
  }
  .welcome .contenu h2 {
    font-size: 30px;
  }
  .welcome .contenu p {
    font-size: 15px;
  }
  .welcome .contenu .ALL {
    font-size: 17px;
  }
}
